@{
    /**/

    var id = ViewData.TemplateInfo.GetFullHtmlFieldId(string.Empty);
    var attrDict = ViewData["htmlAttributes"] as RouteValueDictionary;
    var useTime = ViewData.ContainsKey("useTime");
    var topPosistion = ViewData.ContainsKey("topPosistion");

    //var attrDict = HtmlHelper.AnonymousO​bjectToHtmlAttributes(ViewData["attributes"]);

    if (attrDict != null)
    {
        if (attrDict.ContainsKey("class"))
        {
            attrDict["class"] += " form-control";
        }
        else
        {
            attrDict.Add("class", "form-control");
        }
    }
    else
    {
        attrDict = new RouteValueDictionary();
        attrDict.Add("class", "form-control");
    }
    attrDict.Add("autocomplete", "off");
    attrDict.Add("data-z-index", "10086");
}
<div class="input-group date">
    <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
    </div>

    @Html.TextBoxFor(model => model, attrDict)
</div>

<script>
    require(["css!lib/bootstrap-datepicker/css/bootstrap-datetimepicker.css"], function () { });
    require(["jquery", "bootstrap-datetimepicker"], function () {
        $(document).ready(function () {
            require(["lib/bootstrap-datepicker/js/locales/bootstrap-datetimepicker.zh-CN"], function () {
                var datePicker = {
                    format: 'yyyy/mm/dd',
                    language: 'zh-CN',
                    autoclose: true,
                    forceParse: 0,
                    minuteStep: 1,
                    minView:2
                };

                var beginDate = '@this.ViewData["beginDate"]';
                if (beginDate != null && beginDate != '' && beginDate != undefined) {
                    datePicker.startDate = new Date(beginDate);
                }
                if ('@useTime' == "True") {
                    datePicker.format = 'yyyy/mm/dd hh:ii:00';
                    datePicker.minView = 0;
                }

                if ('@topPosistion' == "True") {
                    datePicker.pickerPosition = 'top-right';
                }

                $('#@id').one('click',function () {
                    if (!$(this).data('datetimepicker')) {
                        $('#@id').datetimepicker(datePicker);
                        $('#@id').datetimepicker('show');
                    }
                });
            });
        });
    });
</script>
