<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="PictureMgtDbContext" connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFileName=|DataDirectory|\PictureMgt.mdf;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />-->
  <add name="PictureMgtDbContext" connectionString="Server=172.27.130.44;Database=PictureMgt;User Id=sa;Password=Abcd@123;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
</connectionStrings>